@keyframes toLightFont {
	from {
		color: $color-coffee-bean;
	}
	to {
		color: $color-milk;
	}
}

@keyframes toDarkFont {
	from {
		color: $color-milk;
	}
	to {
		color: $color-coffee-bean;
	}
}

@keyframes toLightBackground {
	from {
		background-color: $color-coffee-bean;
	}
	to {
		background-color: $color-milk;
	}
}

@keyframes toDarkBackground {
	from {
		background-color: $color-milk;
	}
	to {
		background-color: $color-coffee-bean;
	}
}

@keyframes toLightFill {
	from {
		fill: $color-coffee-bean;
	}
	to {
		fill: $color-milk;
	}
}

@keyframes toDarkFill {
	from {
		fill: $color-milk;
	}
	to {
		fill: $color-coffee-bean;
	}
}

@keyframes toOpen {
	from {
		color: $color-coffee-bean;
		transform: rotate(0deg);
	}
	to {
		color: $color-milk;
		transform: rotate(45deg);
	}
}

@keyframes toClose {
	from {
		color: $color-milk;
		transform: rotate(45deg);
	}
	to {
		color: $color-coffee-bean;
		transform: rotate(0deg);
	}
}

@keyframes fromLeftToFrame {
	from {
		left: -100%;
		@include respond(max750) {
			left: auto;
			bottom: -100%;
			// left: ;
		}
	}
	to {
		left: 0;
		@include respond(max750) {
			left: auto;
			bottom: 0;
			// left: ;
		}
	}
}

@keyframes rotateSkew {
	from {
		transform: translate(-50%, -50%);
		// left: ;
	}
	to {
		transform: translate(-45%, -50%) rotate(90deg);
		// left: ;
	}
}

@keyframes fillLeftToRight {
	0% {
		// position: relative;
		right: 75%;
	}

	100% {
		// position: relative;
		right: 0;
		// left: ;
	}
}
@keyframes fillRightToLeft {
	0% {
		left: 75%;
	}

	100% {
		left: 0;
		// left: ;
	}
}

@keyframes rightToLeft {
	from {
		left: auto;
		bottom: -100%;
		// left: ;
	}
	to {
		left: auto;
		bottom: 0;
		// left: ;
	}
}

@keyframes fromRightToFrame {
	from {
		right: -100%;
	}
	to {
		right: 0.1rem;
	}
}
