.about__container {
	// @include respond(tab-port) {
	// 	width: 60rem;
	// 	height: 80rem;
	// 	flex-direction: column; // 1rem = 8px 8px/16px = .5 or 50%
	// 	border-radius: 5px;
	// 	opacity: 0.9;
	// 	align-items: center;
	// 	font-size: 1.3rem;
	// }

	// @include respond(phone) {
	// 	height: 65rem;
	// 	width: 35rem;
	// }
}

.headshot {
	border-radius: 100%;
	height: 20rem;
	width: 20rem;
	object-fit: cover;
	margin: auto 1rem;

	@include respond(tab-port) {
		transform: initial;
		margin-top: 0;
		margin-bottom: 2rem;
	}

	@include respond(phone) {
		height: 15rem;
		width: 15rem;
	}
}

p.about__text {
	padding-bottom: 4.5rem;

	@include respond(max750) {
		color: transparent !important;
		animation: none !important;
	}
}

.about {
	&__container {
		padding: 0 1rem;
		// background-image: linear-gradient(
		// 	transparent 49%,
		// 	#4e3f30 58%,
		// 	#4e3f30 89%,
		// 	transparent 100%
		// );
		// background-clip: text;
		// -webkit-background-clip: text;
		// background-attachment: fixed;
		// color: transparent;

		// padding-top: 67.5px;

		@include respond(max750) {
			background-image: linear-gradient(
				transparent 49%,
				#4e3f30 58%,
				#4e3f30 89%,
				transparent 100%
			);
			background-clip: text;
			-webkit-background-clip: text;
			background-attachment: fixed;
			-webkit-box-decoration-break: clone;

			color: transparent;

			padding-top: 67.5px;
		}

		@include respond(max400) {
			margin-top: 2rem;
		}
	}
	&__wrapper {
		padding-top: 67.5px;
		overflow-y: scroll;
		height: 100%;
		display: flex;
		align-items: center;
		// background-image: linear-gradient(
		// 	transparent 48%,
		// 	currentColor 53%,
		// 	currentColor 95%,
		// 	transparent 100%
		// );
		// background-clip: text;
		// -webkit-background-clip: text;
		// background-attachment: fixed;

		@include respond(max750) {
			padding-left: 0;
			padding-top: 25px;
			width: calc(100% - 42px);
			position: relative;
			justify-content: flex-start;
			align-items: flex-start;
			// height: initial;
			left: 42px;
		}
		// @include respond(max412) {
		// 	justify-content: flex-start;
		// }
	}

	&__text {
		padding: 1rem;
		width: 62;
		// text-align: end;
		font-size: 1.7rem;
		margin-top: 6rem;

		@include respond(max400) {
			margin-top: 2rem;
		}
	}

	&__container .circle {
		float: left;
		position: relative;
		overflow: hidden;
		shape-outside: circle();
		border-radius: 50%;
		height: 20rem;
		width: 20rem;
		margin-right: 2rem;

		@include respond(max750) {
			float: right;
			margin-left: 2rem;
			margin-right: 0;
		}
		@include respond(max400) {
			float: none;
			margin: 0 auto;
		}
	}

	&__headshot {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		height: 20rem;
		width: 20rem;
		object-fit: cover;

		// @include respond(phone) {
		// 	height: 15rem;
		// 	width: 15rem;
		// }
	}
}
