.portfolio__main {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	left: 0;
	justify-content: center;
	backface-visibility: hidden;

	&-menu {
		padding: 0;
		margin: 0;

		& li {
			font-size: 2.7rem;
		}
	}

	@include respond(max750) {
		flex-direction: column-reverse;
	}
}

.portfolio__main .left {
	// background-color: $color-coffee-bean;
	animation: toDarkBackground 0.5s forwards;
	// color: $color-milk;
	width: 60%;

	&__title {
		position: absolute;
		margin-bottom: 0.25rem;
		padding-left: 2rem;
		font-size: 3rem;
		font-weight: 500;

		@include respond(max750) {
			padding-left: 6rem;
			left: 42px;
		}
	}

	& section {
		&.about__container {
			margin-top: 0;
		}
		margin-top: 67.5px;
		position: relative;
	}

	&::before {
		content: '';
		width: 60vw;
		height: 2.5px;
		position: absolute;
		animation: toLightBackground 0.5s forwards;
		top: 67.5px;
		left: 0;
		z-index: 1;
	}
	& h2,
	& h3,
	& li,
	& p,
	& button {
		// color: $color-milk;
		animation: toLightFont 0.5s forwards;
	}

	// & li-icon::before {
	// 	animation: toLightBackground 0.5s forwards;

	// 	background-color: $color-milk;
	// }

	& svg {
		animation: toLightFill 0.5s forwards;
	}

	@include respond(max750) {
		height: 60%;

		&::before {
			content: '';
			height: 100%;
			width: 2.5px;
			position: absolute;
			top: 0;
			left: 42px;
		}
	}
}

.portfolio__main .right {
	width: 40%;
	background-color: $color-milk;
	left: 0;

	&::before {
		content: '';
		position: absolute;

		z-index: 10;
		// right: 0.1rem;
		// right: 0.1rem;
		// top: 0.85rem;
		height: 2.5px;
		top: 67.5px;
		width: calc(40vw - 1.7rem);
		animation: toDarkBackground 0.5s forwards;

		@include respond(max750) {
			width: 2.5px;
			height: calc(100% - 1.1rem);
			bottom: 0;
			left: 42px;
			right: auto;
			top: auto;
		}
	}
	& ul {
		position: absolute;
	}
	animation: toLightBackground 0.5s forwards;

	background-color: $color-milk;

	& header {
		position: absolute;
		right: 1.5rem;
		width: calc(100% - 1.5rem);
		display: flex;
		flex-direction: column;
		align-items: end;

		& h2 {
			font-weight: 500;
			margin-bottom: 0;
			text-align: end;
			margin-right: 0.25rem;
			font-size: 3rem;
			color: $color-coffee-bean;

			button {
				background-color: transparent;
				border: none;
				font-size: 3rem;
				font-weight: 500;
				position: relative;
				top: 1px;
				padding: 0;
				margin: 0;
				& span {
					display: inline-block;
					animation: toClose 0.5s forwards;
					will-change: transform;
					// transform: rotate(0deg);
				}
			}
		}

		& li-icon {
			display: block;
			// top: -3px;
			height: 155px;
			width: 163px;
			position: relative;

			@include respond(max750) {
				top: -7px;
				// left: ;
			}
		}

		@include respond(max750) {
			transform: rotate(270deg);
			position: relative;
			width: 48rem;
			left: -15.25rem;
			top: 14rem;
		}
	}

	& ul {
		left: 1.5rem;
		bottom: 1rem;
	}

	& li button.nav-link {
		color: $color-milk;
		font-weight: 500;
		letter-spacing: 1px;
	}

	& h2,
	& h3,
	& li,
	& button,
	& li-icon {
		color: $color-coffee-bean;
		animation: toDarkFont 0.5s forwards;
	}

	& li-icon::before {
		animation: toDarkBackground 0.5s forwards;
	}

	& svg {
		animation: toDarkFill 0.5s forwards;
	}

	@include respond(max750) {
		height: 40%;
		position: relative;
	}
}

.portfolio__main.menu-open .left {
	// width: 60%;
	animation: toLightBackground 0.5s forwards;

	& h2,
	& h3,
	& li,
	& p,
	& button {
		color: $color-coffee-bean;
		animation: toDarkFont 0.5s forwards;
	}

	& li {
		color: $color-coffee-bean;
	}

	& svg {
		animation: toDarkFill 0.5s forwards;
	}

	&::before {
		content: '';
		animation: toDarkBackground 0.5s forwards;
	}

	// &.projects,
	// &.expertise {
	// 	&::before {
	// 		content: '';
	// 		height: 60vh;
	// 		width: 2.5px;
	// 		position: absolute;
	// 		background-color: transparent;
	// 		top: 0;
	// 		left: 36px;
	// 		animation: none;
	// 	}
	// }

	@include respond(max750) {
		&::before {
			content: '';
			height: 60vh;
			width: 2.5px;
			position: absolute;
			background-color: transparent;
			top: 0;
			left: 42px;
		}
	}
}

.portfolio__main.menu-open .right {
	animation: toDarkBackground 0.5s forwards;

	& h2,
	& li,
	& button {
		// color: $color-coffee-bean;
		animation: toLightFont 0.5s forwards;
	}

	&::before {
		animation: toLightBackground 0.5s forwards;
	}
	& svg {
		animation: toLightFill 0.5s forwards;
	}

	& ul {
		left: 1.5rem;
		bottom: 1rem;

		@include respond(max750) {
			top: 1.5rem;
			right: 1.5rem;
			display: inline-block;
			left: auto;
			bottom: auto;
		}
	}
	& li .nav-link {
		font-size: 2.7rem;
		text-align: left;
		color: $color-milk;
		font-weight: 500;
		letter-spacing: 1px;

		@include respond(max750) {
			text-align: end;
		}
	}

	& h2 {
		button {
			animation: toLightFont 0.5s forwards;

			cursor: pointer;
			& span {
				animation: toOpen 0.5s forwards;
				will-change: transform;
				// transform: rotate(45deg);
			}
		}
	}

	& i.fab,
	& i.far {
		color: $color-milk;
	}
}

.portfolio__main .left,
.portfolio__main .right {
	position: relative;
	z-index: 10;
	& ul {
		&.project__text-stack {
			overflow: scroll;
			padding: 1rem 2rem 3rem;
			width: 35%;
			font-size: 2rem;
			line-height: 1.5;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-start;
			text-align: end;

			& li {
				font-size: 2rem;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				& i {
					margin-left: 1rem;
				}

				@include respond(max950) {
					width: auto;
					margin-right: 1rem;
				}
			}

			@include respond(max950) {
				width: 100%;
				flex-direction: row;
				justify-content: space-between;
				flex-wrap: wrap;
				padding-top: 3rem;

				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 1px;
					background-color: $color-coffee-bean;
				}
			}
		}
	}
	& li {
		margin-bottom: 1.5rem;

		@include respond(max750) {
			margin: 0.5rem 0;
		}
	}

	@include respond(max750) {
		width: 100vw;
	}
}
