h2.section__title {
	font-size: 2.2rem;
	text-align: left;
	font-weight: 500;
	display: block;
	margin-top: 8rem;
	margin-bottom: 0;
	word-wrap: break-word;
	margin: 2rem 0 0;
	padding-top: 1rem;

	@include respond(max540) {
		margin-top: 2rem;
		font-size: 2.7rem;
	}
}

.skill__section {
	display: flex;
	justify-content: center;
	// align-items: center;
	opacity: 0.9;
	border-radius: 5px;
}

.skill__description {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.skill__card {
	display: block;
	padding: 0.5rem 2rem;
	@include respond(max750) {
		padding-left: 1rem;
	}
}

.skill__card h3 {
	font-size: 2.5rem;
	width: 100%;
	text-align: center;

	@include respond(max540) {
		font-size: 2rem;
	}
}

ul {
	list-style: none;
	position: relative;
	padding: 0;
	margin: 0;

	@include respond(tab-port) {
		display: block;
	}
}

li {
	font-size: 1.8rem;
	font-weight: 500;
	width: 100%;

	& i {
		font-size: 3.3rem;
		color: initial;
	}
}

.skill {
	&__container {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		overflow: scroll;

		@include respond(max750) {
			width: calc(100% - 42px);
			left: 42px;
		}
		// @include respond(max750) {
		// 	justify-content: space-around;
		// }
	}

	&__list {
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		margin-top: 1rem;
		padding: 0 2rem;
		justify-content: space-between;

		& li {
			width: 20rem;
			display: flex;
			align-items: center;
			justify-content: flex-start;

			&.skill__list-item {
				font-size: 2rem;
				font-weight: 500;
			}
			& i {
				margin-right: 0.5rem;
			}

			@include respond(tab-land) {
				width: 18rem;
			}
			@include respond(max540) {
				font-size: 1.8rem;
			}
		}

		& h3 {
			font-size: 3rem;
			@include respond(max540) {
				font-size: 2.2rem;
			}
		}
	}
}
