h2.section__title {
	font-size: 3.75rem;
	text-align: center;
	display: block;
	margin-top: 8rem;
	margin-bottom: 0;
	word-wrap: break-word;
	margin: 4rem auto 0;
	padding-top: 1rem;

	@include respond(max540) {
		margin-top: 2rem;
		font-size: 2.7rem;
	}
}

.skill__section {
	display: flex;
	justify-content: center;
	// align-items: center;
	opacity: 0.9;
	border-radius: 5px;
}

.skill__card {
	display: block;
	width: 50%;
	height: 100%;
}

.skill__card h3 {
	font-size: 2.5rem;
	width: 100%;
	text-align: center;

	@include respond(max540) {
		font-size: 2rem;
	}
}

ul {
	list-style: none;
	position: relative;
	padding: 0;
	margin: 0;

	@include respond(tab-port) {
		display: block;
	}
}

li {
	font-size: 2rem;
	width: 100%;
}

.skill {
	&__container {
		height: 100%;
		width: 100%;
		@include respond(max750) {
			justify-content: space-around;
		}
		display: flex;
		justify-content: center;
		flex-direction: column;
		overflow: scroll;
	}

	&__list {
		text-align: center;

		& li {
			@include respond(max540) {
				font-size: 1.8rem;
			}
		}

		& h3 {
			font-size: 3rem;
			@include respond(max540) {
				font-size: 2.2rem;
			}
		}
	}
}
