.splash-loader {
	&__dark,
	&__light {
		will-change: transform;
		height: 300vh;
		width: 300vw;
	}

	&__dark {
		position: absolute;

		right: 75%;
		bottom: auto;
		top: 50%;
		left: auto;
		animation: fillLeftToRight 0.75s forwards;
		animation-delay: 0.5s;
		// animation-name: fillLeftToRight;
		// animation-duration: 0.5s;
		// background: linear-gradient(
		// 	to left,
		// 	$color-coffee-bean 100%,
		// 	transparent 0
		// );
		background-color: $color-coffee-bean;

		@include respond(max750) {
			top: auto;
			left: auto;
			right: 50%;
			bottom: 75%;
			animation: fillTopToBottom 0.75s forwards;
			animation-delay: 0.5s;
		}
	}

	&__light {
		background-color: $color-milk;
		position: absolute;
		left: 75%;
		top: auto;
		bottom: 50%;
		right: auto;
		animation: fillRightToLeft 0.75s forwards;
		animation-delay: 0.5s;

		@include respond(max750) {
			top: 75%;
			left: 50%;
			right: auto;
			bottom: auto;

			// top: 75%;
			animation: fillBottomToTop 0.75s forwards;
			animation-delay: 0.5s;
		}
	}

	&__main {
		will-change: transform;
		position: fixed;
		height: 300vh;
		width: 300vw;
		top: 50%;
		left: 50%;
		display: flex;
		flex-direction: column;
		transform: translate(-50%, -50%);
		animation: rotateSkewDesktop 0.75s forwards;
		animation-delay: 1s;
		overflow: hidden;
		// transform: translate(-40%, -50%) rotate(90deg);
		z-index: 1;
		// transform: translateX(60vw) rotate(45deg);

		@include respond(max750) {
			flex-direction: row;
			animation: rotateSkewMobile 0.75s forwards;
			animation-delay: 1s;
		}
	}
}
