@keyframes toLightFont {
  from {
    color: #4e3f30;
  }
  to {
    color: #fefeeb;
  }
}
@keyframes toDarkFont {
  from {
    color: #fefeeb;
  }
  to {
    color: #4e3f30;
  }
}
@keyframes toLightBackground {
  from {
    background-color: #4e3f30;
  }
  to {
    background-color: #fefeeb;
  }
}
@keyframes toDarkBackground {
  from {
    background-color: #fefeeb;
  }
  to {
    background-color: #4e3f30;
  }
}
@keyframes toLightFill {
  from {
    fill: #4e3f30;
  }
  to {
    fill: #fefeeb;
  }
}
@keyframes toDarkFill {
  from {
    fill: #fefeeb;
  }
  to {
    fill: #4e3f30;
  }
}
@keyframes toOpen {
  from {
    color: #4e3f30;
    transform: rotate(0deg);
  }
  to {
    color: #fefeeb;
    transform: rotate(45deg);
  }
}
@keyframes toClose {
  from {
    color: #fefeeb;
    transform: rotate(45deg);
  }
  to {
    color: #4e3f30;
    transform: rotate(0deg);
  }
}
@keyframes fromLeftToFrame {
  from {
    left: -100%;
    @media (max-width: 750px) {
      left: auto;
      bottom: -100%;
    }
  }
  to {
    left: 0;
    @media (max-width: 750px) {
      left: auto;
      bottom: 0;
    }
  }
}
@keyframes rotateSkewDesktop {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-45%, -50%) rotate(90deg);
  }
}
@keyframes rotateSkewMobile {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-50%, -55%) rotate(-90deg);
  }
}
@keyframes fillLeftToRight {
  0% {
    right: 75%;
  }
  100% {
    right: 0;
  }
}
@keyframes fillBottomToTop {
  0% {
    top: 75%;
  }
  100% {
    top: 0;
  }
}
@keyframes fillTopToBottom {
  0% {
    bottom: 75%;
  }
  100% {
    bottom: 0;
  }
}
@keyframes fillRightToLeft {
  0% {
    left: 75%;
  }
  100% {
    left: 0;
  }
}
@keyframes rightToLeft {
  from {
    left: auto;
    bottom: -100%;
  }
  to {
    left: auto;
    bottom: 0;
  }
}
@keyframes fromRightToFrame {
  from {
    right: -100%;
  }
  to {
    right: 0.1rem;
  }
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
  overflow: scroll;
}

body {
  margin: 0;
  background-color: #a5b3aa;
  font-size: 1.6rem;
  height: calc(100% - 0px);
  width: calc(100% - 0px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.preload * {
  transition: background-color 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

button.nav__link {
  font-size: 2.7rem;
  text-align: left;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  background-color: transparent;
  border: none;
}

i.fab,
i.far {
  font-size: 3rem;
  margin: 0 0.5rem;
}

a,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
  color: #4e3f30;
}

.transition-main {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-main {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition-main {
  opacity: 0;
}

.main-title {
  color: #e4e3e3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.darken {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #090b0c;
  opacity: 0.5;
}

.flex {
  display: flex;
}

.project__link:hover {
  text-decoration: none;
}

a.nav-link {
  margin: 0 auto;
  padding: auto 0px;
  border-bottom: 1px solid transparent;
}

.nav-link::after {
  content: "";
  height: 1px;
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 0.5rem;
  width: 0;
  border-bottom: 1px solid #e4e3e3;
  transition: all 0.3s;
}
@media (max-width: 750px) {
  .nav-link::after {
    bottom: 0.5rem;
  }
}

.nav-link.active {
  border-bottom: 1px solid #e4e3e3;
}

.nav-link:hover::after {
  width: 100%;
  display: block;
  transform: translateY(0.6rem);
}

@media only screen and (max-width: 450px) {
  .project__card {
    display: block;
    margin: 0 auto;
  }
  .headshot {
    display: block;
    margin: 0 auto;
  }
  .row.about__container {
    margin-left: 0;
    margin-right: 0;
    width: 80%;
    position: relative;
    left: 10%;
    text-align: center;
  }
  .col-sm-2.headshot {
    height: 30rem;
    width: 30rem;
    margin-bottom: 2rem;
  }
}
.splash-text {
  text-align: end;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: calc(36px + 1rem);
  font-size: 2.2rem;
  border-bottom: 2px solid #fefeeb;
  letter-spacing: 0.75px;
  line-height: 1.3;
}

.scroll {
  overflow-y: scroll;
}

.headshot {
  border-radius: 100%;
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  margin: auto 1rem;
}
@media (max-width: 56.25em) {
  .headshot {
    transform: initial;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
@media (max-width: 37.5em) {
  .headshot {
    height: 15rem;
    width: 15rem;
  }
}

p.about__text {
  padding-bottom: 4.5rem;
}
@media (max-width: 750px) {
  p.about__text {
    color: transparent !important;
    animation: none !important;
  }
}

.about__container {
  padding: 0 1rem;
}
@media (max-width: 750px) {
  .about__container {
    background-image: linear-gradient(transparent 49%, #4e3f30 58%, #4e3f30 89%, transparent 100%);
    background-clip: text;
    -webkit-background-clip: text;
    background-attachment: fixed;
    color: transparent;
    padding-top: 67.5px;
  }
}
@media (max-width: 400px) {
  .about__container {
    margin-top: 2rem;
  }
}
.about__wrapper {
  padding-top: 67.5px;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 750px) {
  .about__wrapper {
    padding-left: 0;
    padding-top: 25px;
    width: calc(100% - 42px);
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    left: 42px;
  }
}
.about__text {
  padding: 1rem;
  width: 62;
  font-size: 1.7rem;
  margin-top: 6rem;
}
@media (max-width: 400px) {
  .about__text {
    margin-top: 2rem;
  }
}
.about__container .circle {
  float: left;
  position: relative;
  overflow: hidden;
  shape-outside: circle();
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  margin-right: 2rem;
}
@media (max-width: 750px) {
  .about__container .circle {
    float: right;
    margin-left: 2rem;
    margin-right: 0;
  }
}
@media (max-width: 400px) {
  .about__container .circle {
    float: none;
    margin: 0 auto;
  }
}
.about__headshot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  object-fit: cover;
}

.main-title h1 {
  color: #e4e3e3;
  font-size: 6rem;
  font-weight: 300;
}

.main-title h2 {
  color: #e4e3e3;
  font-size: 3rem;
  font-weight: 300;
}

h2.section__title {
  font-size: 2.2rem;
  text-align: left;
  font-weight: 500;
  display: block;
  margin-top: 8rem;
  margin-bottom: 0;
  word-wrap: break-word;
  margin: 2rem 0 0;
  padding-top: 1rem;
}
@media (max-width: 540px) {
  h2.section__title {
    margin-top: 2rem;
    font-size: 2.7rem;
  }
}

.skill__section {
  display: flex;
  justify-content: center;
  opacity: 0.9;
  border-radius: 5px;
}

.skill__description {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.skill__card {
  display: block;
  padding: 0.5rem 2rem;
}
@media (max-width: 750px) {
  .skill__card {
    padding-left: 1rem;
  }
}

.skill__card h3 {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
}
@media (max-width: 540px) {
  .skill__card h3 {
    font-size: 2rem;
  }
}

ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}
@media (max-width: 56.25em) {
  ul {
    display: block;
  }
}

li {
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
}
li i {
  font-size: 3.3rem;
  color: initial;
}

.skill__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: scroll;
  padding-bottom: 67.5px;
}
@media (max-width: 750px) {
  .skill__container {
    width: calc(100% - 42px);
    left: 42px;
  }
}
.skill__list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 0 2rem;
  justify-content: space-between;
}
.skill__list li {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.skill__list li.skill__list-item {
  font-size: 2rem;
  font-weight: 500;
}
.skill__list li i {
  margin-right: 0.5rem;
}
@media (max-width: 75em) {
  .skill__list li {
    width: 18rem;
  }
}
@media (max-width: 540px) {
  .skill__list li {
    font-size: 1.8rem;
  }
}
.skill__list h3 {
  font-size: 3rem;
}
@media (max-width: 540px) {
  .skill__list h3 {
    font-size: 2.2rem;
  }
}

.project__list {
  text-align: end;
  padding-top: 1.5rem;
  width: 100%;
}
.project__list .nav__link {
  color: #4e3f30;
}
.project__list li {
  position: relative;
  z-index: 100;
}

.hovered-container {
  position: absolute;
  padding-left: 4rem;
  display: grid;
  grid-template-columns: auto 30rem;
  grid-template-rows: calc(100% - 45rem) 40rem;
  grid-template-areas: "image ..." " text .....";
  left: -4rem;
  width: 100vw;
  height: 100%;
}
.hovered-container aside, .hovered-container section {
  padding: 2rem 5rem;
}
.hovered-container aside {
  grid-area: image;
}
.hovered-container section {
  grid-area: text;
}

.project__text-summary {
  margin: 0 auto;
  padding: 1rem 1rem 3rem 2rem;
  font-size: 1.8rem;
  text-align: left;
  line-height: 1.5;
  display: flex;
  align-items: center;
}
.project__text-summary__container {
  width: 65%;
}
@media (max-width: 950px) {
  .project__text-summary__container {
    width: 100%;
  }
}

ul.project__text-stack {
  padding: 1rem;
  line-height: 1.5;
  text-align: end;
}

.project__title {
  padding-top: 1rem;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  height: 4rem;
}
.project__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  height: calc(100% - 28rem);
}
.project__card .flex {
  padding: 1.5rem;
  width: 100%;
  position: relative;
}
.project__card .flex::before {
  content: "";
  position: absolute;
  left: 35%;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #4e3f30;
}
@media (max-width: 950px) {
  .project__card .flex {
    flex-direction: column-reverse;
  }
  .project__card .flex::before {
    content: none;
  }
}
@media (max-width: 950px) {
  .project__card {
    height: auto;
    padding-bottom: 5rem;
  }
}
@media (max-width: 750px) {
  .project__card {
    width: calc(100% - 42px);
    left: 42px;
    margin: 0;
  }
}
.project__container {
  height: 100%;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: scroll;
}
@media (max-width: 750px) {
  .project__container {
    width: 100%;
  }
}
.project__image {
  width: 30rem;
  height: 19rem;
  display: block;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .project__image {
    width: 75%;
    height: auto;
  }
}
.project__section {
  width: 100%;
  display: flex;
  margin: 3rem auto;
}
@media (max-width: 37.5em) {
  .project__section {
    display: block;
  }
}
.project__section:first-child {
  margin-top: 3rem;
}

.portfolio__main {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  left: 0;
  justify-content: center;
  backface-visibility: hidden;
}
.portfolio__main-menu {
  padding: 0;
  margin: 0;
}
.portfolio__main-menu li {
  font-size: 2.7rem;
}
@media (max-width: 750px) {
  .portfolio__main {
    flex-direction: column-reverse;
  }
}

.portfolio__main .left {
  animation: toDarkBackground 0.5s forwards;
  width: 60%;
}
.portfolio__main .left__title {
  position: absolute;
  margin-bottom: 0.25rem;
  padding-left: 2rem;
  font-size: 3rem;
  font-weight: 500;
}
@media (max-width: 750px) {
  .portfolio__main .left__title {
    padding-left: 5rem;
    left: 42px;
  }
}
.portfolio__main .left section {
  margin-top: 67.5px;
  position: relative;
}
.portfolio__main .left section.about__container {
  margin-top: 0;
}
.portfolio__main .left::before {
  content: "";
  width: 60vw;
  height: 2.5px;
  position: absolute;
  animation: toLightBackground 0.5s forwards;
  top: 67.5px;
  left: 0;
  z-index: 1;
}
.portfolio__main .left h2, .portfolio__main .left h3, .portfolio__main .left li, .portfolio__main .left p, .portfolio__main .left button {
  animation: toLightFont 0.5s forwards;
}
.portfolio__main .left svg {
  animation: toLightFill 0.5s forwards;
}
@media (max-width: 750px) {
  .portfolio__main .left {
    height: 60%;
  }
  .portfolio__main .left::before {
    content: "";
    height: 100%;
    width: 2.5px;
    position: absolute;
    top: 0;
    left: 42px;
  }
}

.portfolio__main .right {
  width: 40%;
  background-color: #fefeeb;
  left: 0;
  animation: toLightBackground 0.5s forwards;
  background-color: #fefeeb;
}
.portfolio__main .right::before {
  content: "";
  position: absolute;
  z-index: 10;
  height: 2.5px;
  top: 67.5px;
  width: calc(40vw - 1.7rem);
  animation: toDarkBackground 0.5s forwards;
}
@media (max-width: 750px) {
  .portfolio__main .right::before {
    width: 2.5px;
    height: calc(100% - 1.1rem);
    bottom: 0;
    left: 42px;
    right: auto;
    top: auto;
  }
}
.portfolio__main .right ul {
  position: absolute;
}
.portfolio__main .right header {
  position: absolute;
  right: 1.5rem;
  width: calc(100% - 1.5rem);
  display: flex;
  flex-direction: column;
  align-items: end;
}
.portfolio__main .right header h2 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: end;
  margin-right: 0.25rem;
  font-size: 3rem;
  color: #4e3f30;
}
.portfolio__main .right header h2 button {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  font-weight: 500;
  position: relative;
  top: 1px;
  padding: 0;
  margin: 0;
}
.portfolio__main .right header h2 button span {
  display: inline-block;
  animation: toClose 0.5s forwards;
  will-change: transform;
}
.portfolio__main .right header li-icon {
  display: block;
  height: 155px;
  width: 163px;
  position: relative;
}
@media (max-width: 750px) {
  .portfolio__main .right header li-icon {
    top: -7px;
  }
}
@media (max-width: 750px) {
  .portfolio__main .right header {
    transform: rotate(270deg);
    position: relative;
    width: 48rem;
    left: -15.25rem;
    top: 14rem;
  }
}
.portfolio__main .right ul {
  left: 1.5rem;
  bottom: 1rem;
}
.portfolio__main .right li button.nav-link {
  color: #fefeeb;
  font-weight: 500;
  letter-spacing: 1px;
}
.portfolio__main .right h2, .portfolio__main .right h3, .portfolio__main .right li, .portfolio__main .right button, .portfolio__main .right li-icon {
  color: #4e3f30;
  animation: toDarkFont 0.5s forwards;
}
.portfolio__main .right li-icon::before {
  animation: toDarkBackground 0.5s forwards;
}
.portfolio__main .right svg {
  animation: toDarkFill 0.5s forwards;
}
@media (max-width: 750px) {
  .portfolio__main .right {
    height: 40%;
    position: relative;
  }
}

.portfolio__main.menu-open .left {
  animation: toLightBackground 0.5s forwards;
}
.portfolio__main.menu-open .left h2, .portfolio__main.menu-open .left h3, .portfolio__main.menu-open .left li, .portfolio__main.menu-open .left p, .portfolio__main.menu-open .left button {
  color: #4e3f30;
  animation: toDarkFont 0.5s forwards;
}
.portfolio__main.menu-open .left li {
  color: #4e3f30;
}
.portfolio__main.menu-open .left svg {
  animation: toDarkFill 0.5s forwards;
}
.portfolio__main.menu-open .left::before {
  content: "";
  animation: toDarkBackground 0.5s forwards;
}
@media (max-width: 750px) {
  .portfolio__main.menu-open .left::before {
    content: "";
    height: 60vh;
    width: 2.5px;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 42px;
  }
}

.portfolio__main.menu-open .right {
  animation: toDarkBackground 0.5s forwards;
}
.portfolio__main.menu-open .right h2, .portfolio__main.menu-open .right li, .portfolio__main.menu-open .right button {
  animation: toLightFont 0.5s forwards;
}
.portfolio__main.menu-open .right::before {
  animation: toLightBackground 0.5s forwards;
}
.portfolio__main.menu-open .right svg {
  animation: toLightFill 0.5s forwards;
}
.portfolio__main.menu-open .right ul {
  left: 1.5rem;
  bottom: 1rem;
}
@media (max-width: 750px) {
  .portfolio__main.menu-open .right ul {
    top: 1.5rem;
    right: 1.5rem;
    display: inline-block;
    left: auto;
    bottom: auto;
  }
}
.portfolio__main.menu-open .right li .nav-link {
  font-size: 2.7rem;
  text-align: left;
  color: #fefeeb;
  font-weight: 500;
  letter-spacing: 1px;
}
@media (max-width: 750px) {
  .portfolio__main.menu-open .right li .nav-link {
    text-align: end;
  }
}
.portfolio__main.menu-open .right h2 button {
  animation: toLightFont 0.5s forwards;
  cursor: pointer;
}
.portfolio__main.menu-open .right h2 button span {
  animation: toOpen 0.5s forwards;
  will-change: transform;
}
.portfolio__main.menu-open .right i.fab, .portfolio__main.menu-open .right i.far {
  color: #fefeeb;
}

.portfolio__main .left,
.portfolio__main .right {
  position: relative;
  z-index: 10;
}
.portfolio__main .left ul.project__text-stack,
.portfolio__main .right ul.project__text-stack {
  overflow: scroll;
  padding: 1rem 2rem 3rem;
  width: 35%;
  font-size: 2rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: end;
}
.portfolio__main .left ul.project__text-stack li,
.portfolio__main .right ul.project__text-stack li {
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.portfolio__main .left ul.project__text-stack li i,
.portfolio__main .right ul.project__text-stack li i {
  margin-left: 1rem;
}
@media (max-width: 950px) {
  .portfolio__main .left ul.project__text-stack li,
.portfolio__main .right ul.project__text-stack li {
    width: auto;
    margin-right: 1rem;
  }
}
@media (max-width: 950px) {
  .portfolio__main .left ul.project__text-stack,
.portfolio__main .right ul.project__text-stack {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 3rem;
  }
  .portfolio__main .left ul.project__text-stack::before,
.portfolio__main .right ul.project__text-stack::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #4e3f30;
  }
}
.portfolio__main .left li,
.portfolio__main .right li {
  margin-bottom: 1.5rem;
}
@media (max-width: 750px) {
  .portfolio__main .left li,
.portfolio__main .right li {
    margin: 0.5rem 0;
  }
}
@media (max-width: 750px) {
  .portfolio__main .left,
.portfolio__main .right {
    width: 100vw;
  }
}

.splash-loader__dark, .splash-loader__light {
  will-change: transform;
  height: 300vh;
  width: 300vw;
}
.splash-loader__dark {
  position: absolute;
  right: 75%;
  bottom: auto;
  top: 50%;
  left: auto;
  animation: fillLeftToRight 0.75s forwards;
  animation-delay: 0.5s;
  background-color: #4e3f30;
}
@media (max-width: 750px) {
  .splash-loader__dark {
    top: auto;
    left: auto;
    right: 50%;
    bottom: 75%;
    animation: fillTopToBottom 0.75s forwards;
    animation-delay: 0.5s;
  }
}
.splash-loader__light {
  background-color: #fefeeb;
  position: absolute;
  left: 75%;
  top: auto;
  bottom: 50%;
  right: auto;
  animation: fillRightToLeft 0.75s forwards;
  animation-delay: 0.5s;
}
@media (max-width: 750px) {
  .splash-loader__light {
    top: 75%;
    left: 50%;
    right: auto;
    bottom: auto;
    animation: fillBottomToTop 0.75s forwards;
    animation-delay: 0.5s;
  }
}
.splash-loader__main {
  will-change: transform;
  position: fixed;
  height: 300vh;
  width: 300vw;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  animation: rotateSkewDesktop 0.75s forwards;
  animation-delay: 1s;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 750px) {
  .splash-loader__main {
    flex-direction: row;
    animation: rotateSkewMobile 0.75s forwards;
    animation-delay: 1s;
  }
}

.external__link__container {
  height: 5rem;
  position: absolute;
  bottom: 0;
  right: 1.5rem;
  z-index: 5;
}

.external__link {
  font-size: 3rem;
}

.nav__header {
  width: 100vh;
  height: 4rem;
  position: fixed;
  color: #e4e3e3;
  z-index: 1;
  -webkit-transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(-100%);
}
@media (max-width: 37.5em) {
  .nav__header {
    -webkit-transform-origin: initial;
    -webkit-transform: initial;
    height: 2.6rem;
  }
}
.nav__container {
  display: flex;
  transform: rotate(180deg);
  width: 60%;
  height: 100%;
  position: relative;
  margin-left: -1rem;
  right: -40%;
}
@media (max-width: 37.5em) {
  .nav__container {
    transform: initial;
    width: 100vw;
    right: 0;
    background-color: #090b0c;
    opacity: 0.5;
    margin: 0;
  }
}
.nav-link {
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 0;
}
.nav-link:hover {
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 37.5em) {
  .nav-link {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=index.css.map */
